.models{
  &__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
  }
  &__item{
    width: 600px;
    height: 600px;
    img{
      object-fit: cover;
    }
  }
}
.models__list{
  &-item{
    &+&{
      margin-top: 16px;
    }
  }
  &-link{
    font-size: 20px;
    line-height: 24px;
    color: $color-blue;
    text-transform: uppercase;
    @include f600;
    letter-spacing: 2px;
    transition: color 0.3s;
    &:hover{
      color: #000;
      transition: color 0.3s;
    }
  }
}