<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__info">
				<a class="logo" href="index.html">
					<svg>
						<use xlink:href="img/sprite.svg#logo"></use>
					</svg>
				</a>
				<div class="footer__call">
				<a class="footer__call-phone" href="tel:+78005555152">8(800)555-51-52</a>
				<p class="footer__call-descr">Звонок по России бесплатный</p>
				</div>
			</div>
			<div class="footer__columns">
				<ul class="footer__list">
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Акустика</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Hi-Fi</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Винил</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Наушники</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Телевизоры</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Проекторы</a>
					</li>
				</ul>
				<ul class="footer__list">
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Распродажа</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Outlet</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Акции</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Бонусы и скидки</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Рассрочка</a>
					</li>
				</ul>
				<ul class="footer__list footer__list-info">
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">О компании</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Контакты</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Салоны</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Новости</a>
					</li>
				</ul>
			</div>
		</div>
		<p class="footer__copy">
			2021 © / pult.ru / все права защищены
		</p>
	</div>
</footer>
