<section class="main-products">
  <h1 class="visually-hidden">Продукция Gallo Acoustics</h1>
  <div class="main-products__slider products__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a class="products-item" href="#">
          <div class="products-item__top swiper-lazy" data-background="img/product-1.jpg">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <div class="container">
              <p class="products-item__text"><span>побалуй </span>себя выбором</p>
            </div>
          </div>
          <div class="products__info">
            <div class="container">
              <h2 class="products__info-title">Micro и micro se</h2>
              <p class="products__info-text">спутниковые колонки</p>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="products-item" href="#">
          <div class="products-item__top swiper-lazy" data-background="img/product-2.jpg">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <div class="container">
              <p class="products-item__text"><span>Давай </span>зажжём</p>
            </div>
          </div>
          <div class="products__info">
            <div class="container">
              <h2 class="products__info-title">droplet</h2>
              <p class="products__info-text">подвесная акустика</p>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="products-item" href="#">
          <div class="products-item__top swiper-lazy" data-background="img/product-3.jpg">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <div class="container">
              <p class="products-item__text"><span>держаться </span>в тени</p>
            </div>
          </div>
          <div class="products__info">
            <div class="container">
              <h2 class="products__info-title">profilesub</h2>
              <p class="products__info-text">сабвуфер</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="swiper-pagination products-btn"></div>
  </div>
  <div class="discounts-products__slider products__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a class="products-item" href="#">
          <div class="products-item__top swiper-lazy" data-background="img/product-4.jpg">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <div class="container">
              <p class="products-item__text">скидки до<span>30%</span></p>
            </div>
          </div>
          <div class="products__info">
            <div class="container">
              <h2 class="products__info-title">micro</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="products-item" href="#">
          <div class="products-item__top swiper-lazy" data-background="img/product-5.jpg">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <div class="container">
              <p class="products-item__text">скидки до<span>30%</span></p>
            </div>
          </div>
          <div class="products__info">
            <div class="container">
              <h2 class="products__info-title">micro se</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="products-item" href="#">
          <div class="products-item__top swiper-lazy" data-background="img/product-6.jpg">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <div class="container">
              <p class="products-item__text">скидки до<span>30%</span></p>
            </div>
          </div>
          <div class="products__info">
            <div class="container">
              <h2 class="products__info-title">micro droplet</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="products-item" href="#">
          <div class="products-item__top swiper-lazy" data-background="img/product-6.jpg">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <div class="container">
              <p class="products-item__text">скидки до<span>30%</span></p>
            </div>
          </div>
          <div class="products__info">
            <div class="container">
              <h2 class="products__info-title">micro se droplet</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="products-item" href="#">
          <div class="products-item__top swiper-lazy" data-background="img/product-6.jpg">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <div class="container">
              <p class="products-item__text">скидки до<span>30%</span></p>
            </div>
          </div>
          <div class="products__info">
            <div class="container">
              <h2 class="products__info-title">adiva droplet</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="products-item" href="#">
          <div class="products-item__top swiper-lazy" data-background="img/product-6.jpg">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <div class="container">
              <p class="products-item__text">скидки до<span>30%</span></p>
            </div>
          </div>
          <div class="products__info">
            <div class="container">
              <h2 class="products__info-title">adiva se droplet</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="products-item" href="#">
          <div class="products-item__top swiper-lazy" data-background="img/product-7.jpg">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <div class="container">
              <p class="products-item__text">скидки до<span>30%</span></p>
            </div>
          </div>
          <div class="products__info">
            <div class="container">
              <h2 class="products__info-title">adiva</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="products-item" href="#">
          <div class="products-item__top swiper-lazy" data-background="img/product-7.jpg">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <div class="container">
              <p class="products-item__text">скидки до<span>30%</span></p>
            </div>
          </div>
          <div class="products__info">
            <div class="container">
              <h2 class="products__info-title">adiva se</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="products-item" href="#">
          <div class="products-item__top swiper-lazy" data-background="img/product-8.jpg">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <div class="container">
              <p class="products-item__text">скидки до<span>30%</span></p>
            </div>
          </div>
          <div class="products__info">
            <div class="container">
              <h2 class="products__info-title">strada 2</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="products-item" href="#">
          <div class="products-item__top swiper-lazy" data-background="img/product-3.jpg">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <div class="container">
              <p class="products-item__text">скидки до<span>30%</span></p>
            </div>
          </div>
          <div class="products__info">
            <div class="container">
              <h2 class="products__info-title">subwoofers</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="swiper-pagination products-btn"></div>
  </div>
</section>