<section class="models">
  <div class="container">
    <h1 class="visually-hidden">Модели Gallo Acoustics</h1>
    <div class="models__inner">
      <ul class="models__list">
        <li class="models__list-item">
          <a class="models__list-link" href="#" data-src="img/model-1.jpg">micro</a>
        </li>
        <li class="models__list-item">
          <a class="models__list-link" href="#" data-src="img/model-2.jpg">micro se</a>
        </li>
        <li class="models__list-item">
          <a class="models__list-link" href="#" data-src="img/model-3.jpg">adiva</a>
        </li>
        <li class="models__list-item">
          <a class="models__list-link" href="#" data-src="img/model-4.jpg">adiva se</a>
        </li>
        <li class="models__list-item">
          <a class="models__list-link" href="#" data-src="img/model-5.jpg">micro droplet</a>
        </li>
        <li class="models__list-item">
          <a class="models__list-link" href="#" data-src="img/model-6.jpg">micro se droplet</a>
        </li>
        <li class="models__list-item">
          <a class="models__list-link" href="#" data-src="img/model-7.jpg">adiva droplet</a>
        </li>
        <li class="models__list-item">
          <a class="models__list-link" href="#" data-src="img/model-8.jpg">adiva se droplet</a>
        </li>
        <li class="models__list-item">
          <a class="models__list-link" href="#" data-src="img/model-9.jpg">strada 2</a>
        </li>
        <li class="models__list-item">
          <a class="models__list-link" href="#" data-src="img/model-10.jpg">subwoofers</a>
        </li>
        <li class="models__list-item">
          <a class="models__list-link" href="#" data-src="img/model-11.jpg">accessories</a>
        </li>
      </ul>
      <div class="models__item">
        <img class="models__item-img" src="img/model-1.jpg" alt="Модель">
      </div>
    </div>
  </div>
</section>