html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

body {
  font-size: 14px;
  line-height: 18px;
  @include f400;
  color: $color-black;
  background-color: $color-white;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.visually-hidden{
  @include visually-hidden;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
